.container {
  width: 80%;
  height:auto;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.browserBar {
  /* display: flex; */
  align-items: center;
  margin-bottom: 20px;
}

.browserButtons {
  display: flex;
  margin-right: 10px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.urlBar {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input, .textarea {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  height: 300px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}